<?xml version="1.0" encoding="UTF-8"?>
<root>
  <titel>Arduino Temperatur Anzeige</titel>
  <Sensoren>
    <Sensor>
      <Aktiv>Y</Aktiv>
      <Bezeichnung>Tisch</Bezeichnung>
      <Protocol>COM</Protocol>
      <COM>
        <Port>COM3</Port>
        <DtrEnabled>N</DtrEnabled>
        <Baudrate>9600</Baudrate>
      </COM>
      <LogEnabled>N</LogEnabled>
      <WriteHTML>N</WriteHTML>
      <LogFile>C:\Temp\Temperatur\Tisch.log</LogFile>
      <NumLogItems>850</NumLogItems>
      <maxLogFileSize>4194304</maxLogFileSize>
    </Sensor>
    <Sensor>
      <Aktiv>N</Aktiv>
      <Bezeichnung>Boden</Bezeichnung>
      <Protocol>COM</Protocol>
      <COM>
        <Port>COM9</Port>
        <DtrEnabled>N</DtrEnabled>
        <Baudrate>9600</Baudrate>
      </COM>
      <HTTP></HTTP>
      <LogEnabled>N</LogEnabled>
      <WriteHTML>N</WriteHTML>
      <LogFile>C:\Temp\Temperatur\Boden.log</LogFile>
      <NumLogItems>680</NumLogItems>
      <maxLogFileSize>4194304</maxLogFileSize>
    </Sensor>
    <Sensor>
      <Aktiv>Y</Aktiv>
      <Bezeichnung>OGD</Bezeichnung>
      <Protocol>HTTP</Protocol>
      <COM>
        <Port></Port>
        <DtrEnabled></DtrEnabled>
        <Baudrate></Baudrate>
      </COM>
      <HTTP>
        <URL>http://www.zamg.ac.at/ogd/</URL>
      </HTTP>
      <LogEnabled>N</LogEnabled>
      <WriteHTML>N</WriteHTML>
      <LogFile>C:\Temp\Temperatur\Boden.log</LogFile>
      <NumLogItems>680</NumLogItems>
      <maxLogFileSize>4194304</maxLogFileSize>
    </Sensor>
	<Sensor>
      <Aktiv>Y</Aktiv>
      <Bezeichnung>LTBIMI</Bezeichnung>
      <Protocol>HTTP</Protocol>
      <COM>
        <Port></Port>
        <DtrEnabled></DtrEnabled>
        <Baudrate></Baudrate>
      </COM>
      <HTTP>
        <URL>http://172.16.111.36/temp.html</URL>
      </HTTP>
      <LogEnabled>N</LogEnabled>
      <WriteHTML>N</WriteHTML>
      <LogFile>C:\Temp\Temperatur\Boden.log</LogFile>
      <NumLogItems>680</NumLogItems>
      <maxLogFileSize>4194304</maxLogFileSize>
    </Sensor>
  </Sensoren>
  <HTML>
    <FileHTML>B:\Exchange\temperatur.html</FileHTML>
    <HTMLHEAD>Wetterstation BIMIs Platz</HTMLHEAD>
    <Enabled>N</Enabled>
    <UpdateFrequency>15</UpdateFrequency>
  </HTML>
  <ProgrammEinstellungen>
    <Topmost>Y</Topmost>
  </ProgrammEinstellungen>
</root>